{% extends "front/layout/app.html.twig" %}
{% block content %}  
    <div class="container">
    	<div class="row">
    		<h3>Data</h3>
    		<div class="col-sm-4">
    		
    		</div>
    	</div>
    </div>
{% endblock %} 